:root{
  --headercolor: darkgray;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navHeading * {
  text-color: blue;
}
.navHeading {
  display: flex;
  justify-content: right;
  background-color: var(--headercolor);
}
/* .NavbarElement {
  padding: 3rem;
  color: brown;
  text-decoration:none;
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainImageHead {
  max-width: 300px;
}

.App-link {
  color: #61dafb;
}

section{
  color:rgb(122,333,444);
}

footer{
  font-size: 8px;
  background-color: gainsboro;
  box-shadow: blue;
  padding: 1rem;
}
